<div ng-controller="matchesController">
 <div class="container">
   <div class="breadcrumb1">
     <ul>
        <li><a href="index1.html">Home</a></li>
        <span class="divider">&nbsp;|&nbsp;</span>
        <a class="current-page" href="#/">Matches</a>
        <span class="divider">&nbsp;|&nbsp;</span>
        <a class="current-page" href="#/not-contacted">Not Contacted Yet</a>
        <span class="divider">&nbsp;|&nbsp;</span>
        <a class="current-page" href="#/viewed-profiles">View Profiles</a>
		
     </ul>
   </div>
	<div class="col-md-9 profile_left2">
     <form>
	  <div class="form_but2">
		<label class="col-md-2 control-lable1" for="sex">Don't Show : </label>
		<div class="col-md-10 form_radios">
			<input type="checkbox" class="radio_1"> Don't show already viewed &nbsp;&nbsp;&nbsp;
			<input type="checkbox" class="radio_1" checked="checked"> Don't show already contacted &nbsp;&nbsp;&nbsp;
			<input type="checkbox" class="radio_1" checked="checked"> Show profiles with photo
		</div>
		<div class="clearfix"> </div>
	  </div>
	 </form>
	<div class="profile_top" ng-repeat="profile in filteredProfiles | filter : { religion : religionModel}"><a href="#/profile/{{profile.pid}}">
      <h2>{{profile.pid}} | {{profile.firstname +' '+ profile.lastname}}</h2>
	    <div class="col-sm-3 profile_left-top">
	    	<img src="public/images/p1.jpg" class="img-responsive" alt=""/>
	    </div>
	    <div class="col-sm-3">
	      <ul class="login_details1">
			 <li>Last Login : {{profile.lastLogin}}</li>
			 <li><p>"{{profile.status}}" More....</p></li>
		  </ul>
	    </div>
	    <div class="col-sm-6">
	    	<table class="table_working_hours">
	        	<tbody>
	        		<tr class="opened_1">
						<td class="day_label1">Age / Height :</td>
						<td class="day_value">{{profile.age}} years, {{profile.height}}</td>
					</tr>
				    <tr class="opened">
						<td class="day_label1">Gender :</td>
						<td class="day_value">{{profile.gender}}</td>
					</tr>
				    <tr class="opened">
						<td class="day_label1">Religion :</td>
						<td class="day_value">{{profile.religion}}</td>
					</tr>
				    <tr class="opened">
						<td class="day_label1">Marital Status :</td>
						<td class="day_value">{{profile.maritalstatus}}</td>
					</tr>
				    <tr class="opened">
						<td class="day_label1">Location :</td>
						<td class="day_value">{{profile.district}}</td>
					</tr>
				    <tr class="closed">
						<td class="day_label1">Profile Created by :</td>
						<td class="day_value closed"><span>{{profile.postedby}}</span></td>
					</tr>
				    <tr class="closed">
						<td class="day_label1">Education :</td>
						<td class="day_value closed"><span>{{profile.educationcategory}}</span></td>
					</tr>
			    </tbody>
		   </table>
		   <div class="buttons">
			   <div class="vertical">Send Mail</div>
			   <div class="vertical">Shortlisted</div>
			   <div class="vertical">Send Interest</div>
		   </div>
	    </div>
	    <div class="clearfix"> </div>
    </a></div>

 <!--Pagination Directive-->   
<uib-pagination total-items="profiles.length" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
<!--Pagination Directive-->
</div>

  <div class="col-md-3 match_right">
  <div class="profile_search1">
	   <form>
		  <input type="text" class="m_1" name="ne" size="30" required="" placeholder="Enter Profile ID :">
		  <input type="submit" value="Go">
	   </form>
   </div>
    <ul class="menu">
		<li class="item1"><h3 class="m_2">Religion</h3>
		  <ul class="cute">
			<li class="subitem1" ><a ng-click="changeReligion('Muslim')">Muslim </a></li>
			<li class="subitem2" ><a ng-click="changeReligion('Hindu')">Hindu</a></li>
		  </ul>
		</li>
		<li class="item1"><h3 class="m_2">Profile type</h3>
		  <ul class="cute">
			<li class="subitem1"><a href="#">with Photo (3) </a></li>
		  </ul>
		</li>
		<li class="item1"><h3 class="m_2">Marital Status</h3>
		  <ul class="cute">
			<li class="subitem1"><a href="#">Unmarried (2) </a></li>
		  </ul>
		</li>
		<li class="item1"><h3 class="m_2">Mother Tongue</h3>
		  <ul class="cute">
			<li class="subitem1"><a href="#">English </a></li>
		  </ul>
		</li>
		<li class="item1"><h3 class="m_2">Education</h3>
		  <ul class="cute">
			<li class="subitem1"><a href="#">Bachelors-Engineering </a></li>
			<li class="subitem1"><a href="#">Masters-Engineering </a></li>
		  </ul>
		</li>
		<li class="item1"><h3 class="m_2">Occupation</h3>
		  <ul class="cute">
			<li class="subitem1"><a href="#">Engineer-Non IT (2) </a></li>
			<li class="subitem1"><a href="#">Software Professional (3)</a></li>
		  </ul>
		</li>
		<li class="item1"><h3 class="m_2">Physical Status</h3>
		  <ul class="cute">
			<li class="subitem1"><a href="#">Normal (2) </a></li>
		  </ul>
		</li>
		<li class="item1"><h3 class="m_2">Eating Habits</h3>
		  <ul class="cute">
			<li class="subitem1"><a href="#">Non Vegetarian (3)</a></li>
			<li class="subitem1"><a href="#">Vegetarian (2)</a></li>
		  </ul>
		</li>
		<li class="item1"><h3 class="m_2">Smoking</h3>
		  <ul class="cute">
			<li class="subitem1"><a href="#">Not Specified (3)</a></li>
		  </ul>
		</li>
		<li class="item1"><h3 class="m_2">Drinking</h3>
		  <ul class="cute">
			<li class="subitem1"><a href="#">Not Specified (3)</a></li>
			<li class="subitem1"><a href="#">Never Drinks (3)</a></li>
		  </ul>
		</li>
		<li class="item1"><h3 class="m_2">Profile Created by</h3>
		  <ul class="cute">
			<li class="subitem1"><a href="#">Self (1)</a></li>
		  </ul>
		</li>
	  </ul>
   </div>
</div>

