<div bg-controller="profileDetailController">
	 <div class="container">
   <div class="breadcrumb1">
     <ul>
        <a href="index1.html"><i class="fa fa-home home_1"></i></a>
        <span class="divider">&nbsp;|&nbsp;</span>
        <li class="current-page">View Profile</li>
     </ul>
   </div>
   <div class="profile">
   	 <div class="col-md-8 profile_left">
   	 	<h2>{{selectedProfile.firstname + " " + selectedProfile.lastname}}</h2>
   	 	<div class="col_3">
   	        <div class="col-sm-4 row_2">
				<img src="{{selectedProfile.img}}"/>
			</div>
			<div class="col-sm-8 row_1">
				<table class="table_working_hours">
		        	<tbody>
		        		<tr class="opened_1">
							<td class="day_label">Age / Height :</td>
							<td class="day_value">{{selectedProfile.age}}, {{selectedProfile.height}}</td>
						</tr>
					    <tr class="opened">
							<td class="day_label">Last Login :</td>
							<td class="day_value">{{selectedProfile.lastlogin}}</td>
						</tr>
					    <tr class="opened">
							<td class="day_label">Religion :</td>
							<td class="day_value">{{selectedProfile.religion}}</td>
						</tr>
					    <tr class="opened">
							<td class="day_label">Marital Status :</td>
							<td class="day_value">{{selectedProfile.maritalstatus}}</td>
						</tr>
					    <tr class="opened">
							<td class="day_label">Location :</td>
							<td class="day_value">{{selectedProfile.district}}</td>
						</tr>
					    <tr class="closed">
							<td class="day_label">Profile Created by :</td>
							<td class="day_value closed"><span>{{selectedProfile.createdBy}}</span></td>
						</tr>
					    <tr class="closed">
							<td class="day_label">Education :</td>
							<td class="day_value closed"><span>{{selectedProfile.educationcategory}}</span></td>
						</tr>
				    </tbody>
				</table>
				<ul class="login_details">
			      <li>Already a member? <a href="login.html">Login Now</a></li>
			      <li>If not a member? <a href="register.html">Register Now</a></li>
			    </ul>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="col_4">
		    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
			   <ul id="myTab" class="nav nav-tabs nav-tabs1" role="tablist">
				  <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">About Myself</a></li>
				  <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Family Details</a></li>
				  <li role="presentation"><a href="#profile1" role="tab" id="profile-tab1" data-toggle="tab" aria-controls="profile1">Partner Preference</a></li>
			   </ul>
			   <div id="myTabContent" class="tab-content">
				  <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
				    <div class="tab_box">
				    	<h1>About Myself</h1>
				    	<p>{{selectedProfile.status}}</p>
				    </div>
				    <div class="basic_1">
				    	<h3>Basics & Lifestyle</h3>
				    	<div class="col-md-6 basic_1-left">
				    	  <table class="table_working_hours">
				        	<tbody>
							<tr class="opened">
									<td class="day_label">Profile Id :</td>
									<td class="day_value">{{selectedProfile.pid}}</td>
								</tr>
							    <tr class="opened">
									<td class="day_label">gender :</td>
									<td class="day_value">{{selectedProfile.gender}}</td>
								</tr>
								<tr class="opened">
									<td class="day_label">Email :</td>
									<td class="day_value">{{selectedProfile.email}}</td>
								</tr>
				        		<tr class="opened_1">
									<td class="day_label">Name :</td>
									<td class="day_value">{{selectedProfile.firstname + " " + selectedProfile.lastname}}</td>
								</tr>
								 <tr class="closed">
							        <td class="day_label">Profile Created by :</td>
							        <td class="day_value closed"><span>{{selectedProfile.createdBy}}</span></td>
						        </tr>
								<tr class="opened">
									<td class="day_label">Date of Birth :</td>
									<td class="day_value closed"><span>{{selectedProfile.edob}}</span></td>
								</tr>
							   <tr class="opened_1">
									<td class="day_label">Religion :</td>
									<td class="day_value">{{selectedProfile.religion}}</td>
								</tr>
							    <tr class="opened">
									<td class="day_label">Caste :</td>
									<td class="day_value">{{selectedProfile.caste}}</td>
								</tr>
								<tr class="opened_1">
									<td class="day_label">Mothertongue :</td>
									<td class="day_value">{{selectedProfile.mothertongue}}</td>
								</tr>
							    <tr class="opened">
									<td class="day_label">Residing :</td>
									<td class="day_value">{{selectedProfile.residing}}</td>
								</tr>
								<tr class="opened_1">
									<td class="day_label">Mobileno :</td>
									<td class="day_value">{{selectedProfile.mobileno}}</td>
								</tr>
							    <tr class="opened">
									<td class="day_label">Phoneno :</td>
									<td class="day_value">{{selectedProfile.phoneno}}</td>
								</tr>
							    
							    
							   
							    
							   
							   
							    
						    </tbody>
				          </table>
				         </div>
				        
				        <div class="clearfix"> </div>
				    </div>
				    
				    	
				         <div class="col-md-6 basic_1-left">
				          <table class="table_working_hours">
				        	<tbody>
							<tr class="opened">
							<td class="day_label">Marital Status :</td>
							<td class="day_value">{{selectedProfile.maritalstatus}}</td>
						</tr>
						<tr class="opened">
									<td class="day_label">Complexion :</td>
									<td class="day_value">{{selectedProfile.complexion}}</td>
								</tr>
				        	<tr class="opened">
									<td class="day_label">Phisicallychallenged :</td>
									<td class="day_value">{{selectedProfile.phisicallychallenged}}</td>
								</tr>
                                 <tr class="opened">
									<td class="day_label">height :</td>
									<td class="day_value">{{selectedProfile.height}}</td>
								</tr>
                                    <tr class="opened">
									<td class="day_label">borncitizenship :</td>
									<td class="day_value">{{selectedProfile.borncitizenship}}</td>
								</tr>								
							</tbody>
				        </table>
				        </div>
				        <div class="clearfix"> </div>
				    </div>
				    <div class="basic_1">
				    	<h3>Education & Career</h3>
				    	<div class="col-md-6 basic_1-left">
				    	  <table class="table_working_hours">
				        	<tbody>
				        		<tr class="opened">
									<td class="day_label">Education   :</td>
									<td class="day_value">{{selectedProfile.educationcategory}}</td>
								</tr>
				        		<tr class="opened">
									<td class="day_label">Education Detail :</td>
									<td class="day_value">{{selectedProfile.specialization}}</td>
								</tr>
							    <tr class="opened">
									<td class="day_label">Occupation Detail :</td>
									<td class="day_value closed"><span>{{selectedProfile.employedin}}</span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Profession group  :</td>
									<td class="day_value closed"><span>{{selectedProfile.professiongroup}}</span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Profession Detail :</td>
									<td class="day_value closed"><span>{{selectedProfile.profession}}</span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">Company name :</td>
									<td class="day_value closed"><span>{{selectedProfile.companyname}}</span></td>
								</tr>
							    <tr class="opened">
									<td class="day_label">Monthly Income :</td>
									<td class="day_value closed"><span>{{selectedProfile.monthlyincome}}</span></td>
								</tr>
								<tr class="opened">
									<td class="day_label">State :</td>
									<td class="day_value">{{selectedProfile.state}}</td>
								</tr>
								<tr class="opened">
									<td class="day_label">District :</td>
									<td class="day_value">{{selectedProfile.district}}</td>
								</tr>
								<tr class="opened">
									<td class="day_label">City :</td>
									<td class="day_value">{{selectedProfile.city}}</td>
								</tr>
								</div>
								</div>
								
							  <div class="basic_1">
				    	<h4>Family Details</h4>
				    	<div class="col-md-6 basic_1-left">
				    	  <table class="table_working_hours">
				        	<tbody>	
								
								
							<tr class="opened">
									<td class="day_label">Father's name :</td>
									<td class="day_value">{{selectedProfile.fathername}}</td>
								</tr>
								<tr class="opened">
									<td class="day_label">Father's education :</td>
									<td class="day_value">{{selectedProfile.fathereducation}}</td>
								</tr>
				        		<tr class="opened">
									<td class="day_label">Father's Occupation :</td>
									<td class="day_value">{{selectedProfile.fatherprofession}}</td>
								</tr>
								<tr class="opened">
									<td class="day_label">Mother's name :</td>
									<td class="day_value">{{selectedProfile.mothername}}</td>
								</tr>
								<tr class="opened">
									<td class="day_label">Mothers's education :</td>
									<td class="day_value">{{selectedProfile.mothereducation}}</td>
								</tr>
				        		<tr class="opened">
									<td class="day_label">Mother's Occupation :</td>
									<td class="day_value">{{selectedProfile.motherprofession}}</td>
								</tr>
								<tr class="opened">
									<td class="day_label">Father's native palec :</td>
									<td class="day_value">{{selectedProfile.fathernative}}</td>
								</tr>
				        		<tr class="opened">
									<td class="day_label">Mother's native place :</td>
									<td class="day_value">{{selectedProfile.mothernative}}</td>
								</tr>
							    <tr class="opened">
									<td class="day_label">No. of Brothers :</td>
									<td class="day_value closed"><span>{{selectedProfile.brothers}}</span></td>
								</tr>
							    <tr class="opened">
									<td class="day_label">No. of Sisters :</td>
									<td class="day_value closed"><span>{{selectedProfile.sisters}}</span></td>
								</tr>
							 </tbody>
				          </table>
				         </div>
				         <div class="clearfix"> </div>
				    </div>
				  </div>
				  <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
				    <div class="basic_3">
				    	
				    	<div class="basic_1 basic_2">
				    	<h3>Basics</h3>
				    	<div class="col-md-6 basic_1-left">
				    	  <table class="table_working_hours">
				        	<tbody>
							
							
							 </tbody>
				          </table>
				         </div>
				       </div>
				    </div>
				</div>
		  </div>
	   </div>
   	 </div>
     <div class="col-md-4 profile_right">
     	<div class="newsletter">
		   <form>
			  <input type="text" name="ne" size="30" required="" placeholder="Enter Profile ID :">
			  <input type="submit" value="Go">
		   </form>
        </div>
        <div class="view_profile">
        	<h3>View Similar Profiles</h3>
        	<ul class="profile_item">
        	  <a href="#">
        	   <li class="profile_item-img">
        	   	  <img src="public/images/p5.jpg" class="img-responsive" alt=""/>
        	   </li>
        	   <li class="profile_item-desc">
        	   	  <h4>2458741</h4>
        	   	  <p>29 Yrs, 5Ft 5in Christian</p>
        	   	  <h5>View Full Profile</h5>
        	   </li>
        	   <div class="clearfix"> </div>
        	  </a>
           </ul>
           <ul class="profile_item">
        	  <a href="#">
        	   <li class="profile_item-img">
        	   	  <img src="public/images/p6.jpg" class="img-responsive" alt=""/>
        	   </li>
        	   <li class="profile_item-desc">
        	   	  <h4>2458741</h4>
        	   	  <p>29 Yrs, 5Ft 5in Christian</p>
        	   	  <h5>View Full Profile</h5>
        	   </li>
        	   <div class="clearfix"> </div>
        	  </a>
           </ul>
           <ul class="profile_item">
        	  <a href="#">
        	   <li class="profile_item-img">
        	   	  <img src="public/images/p7.jpg" class="img-responsive" alt=""/>
        	   </li>
        	   <li class="profile_item-desc">
        	   	  <h4>2458741</h4>
        	   	  <p>29 Yrs, 5Ft 5in Christian</p>
        	   	  <h5>View Full Profile</h5>
        	   </li>
        	   <div class="clearfix"> </div>
        	  </a>
           </ul>
           <ul class="profile_item">
        	  <a href="#">
        	   <li class="profile_item-img">
        	   	  <img src="public/images/p8.jpg" class="img-responsive" alt=""/>
        	   </li>
        	   <li class="profile_item-desc">
        	   	  <h4>2458741</h4>
        	   	  <p>29 Yrs, 5Ft 5in Christian</p>
        	   	  <h5>View Full Profile</h5>
        	   </li>
        	   <div class="clearfix"> </div>
        	  </a>
           </ul>
       </div>
       <div class="view_profile view_profile1">
        	<h3>Members who viewed this profile also viewed</h3>
        	<ul class="profile_item">
        	  <a href="#">
        	   <li class="profile_item-img">
        	   	  <img src="public/images/p9.jpg" class="img-responsive" alt=""/>
        	   </li>
        	   <li class="profile_item-desc">
        	   	  <h4>2458741</h4>
        	   	  <p>29 Yrs, 5Ft 5in Christian</p>
        	   	  <h5>View Full Profile</h5>
        	   </li>
        	   <div class="clearfix"> </div>
        	  </a>
           </ul>
           <ul class="profile_item">
        	  <a href="#">
        	   <li class="profile_item-img">
        	   	  <img src="public/images/p10.jpg" class="img-responsive" alt=""/>
        	   </li>
        	   <li class="profile_item-desc">
        	   	  <h4>2458741</h4>
        	   	  <p>29 Yrs, 5Ft 5in Christian</p>
        	   	  <h5>View Full Profile</h5>
        	   </li>
        	   <div class="clearfix"> </div>
        	  </a>
           </ul>
           <ul class="profile_item">
        	  <a href="#">
        	   <li class="profile_item-img">
        	   	  <img src="public/images/p11.jpg" class="img-responsive" alt=""/>
        	   </li>
        	   <li class="profile_item-desc">
        	   	  <h4>2458741</h4>
        	   	  <p>29 Yrs, 5Ft 5in Christian</p>
        	   	  <h5>View Full Profile</h5>
        	   </li>
        	   <div class="clearfix"> </div>
        	  </a>
           </ul>
           <ul class="profile_item">
        	  <a href="#">
        	   <li class="profile_item-img">
        	   	  <img src="public/images/p12.jpg" class="img-responsive" alt=""/>
        	   </li>
        	   <li class="profile_item-desc">
        	   	  <h4>2458741</h4>
        	   	  <p>29 Yrs, 5Ft 5in Christian</p>
        	   	  <h5>View Full Profile</h5>
        	   </li>
        	   <div class="clearfix"> </div>
        	  </a>
           </ul>
         </div>
        </div>
</div>